In [13]:
# 2章末問題
# 問1
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

farm = pd.read_csv('farm.csv')
# 標準化 (x - 全体の平均) / 標準偏差
m = np.mean(farm['sales'])
s = np.std(farm['sales'])
list = []
for v in farm['sales']:
    list.append((v - m) / s)

print("sales 標準化:" + str(list))
print("sales 標準化後の平均:" + str(np.mean(list)))
print("sales 標準化後の標準偏差:" + str(np.std(list)))

m = np.mean(farm['area'])
s = np.std(farm['area'])
list = []
for v in farm['area']:
    list.append((v - m) / s)

print("area 標準化:" + str(list))
print("area 標準化後の平均:" + str(np.mean(list)))
print("area 標準化後の標準偏差:" + str(np.std(list)))

sales 標準化:[-0.2418059347761041, -0.75345905315368067, -0.13548840368465961, 0.54627276443922812, 0.023987892952507101, -0.57404821943686812, -0.62056213928937509, -0.7069451333011737, -0.77339359023332643, -0.60062760220972922, 3.2135138256958418, -0.10890902091179849, -0.50759976250471528, -0.70030028760795837, 2.1503385147813967, -0.77206462109468343, 0.42267863454542387, 0.55557554840972945, -0.17535747784395128, -0.2418059347761041]
sales 標準化後の平均:-3.74700270811e-17
sales 標準化後の標準偏差:1.0
area 標準化:[-0.77983290049877629, -0.92349263040337126, 0.68070768686460592, -0.15730740424553147, -0.41589491807380241, -0.99532249535566875, -0.88997202675896581, -0.58828659395931637, -0.25308055751526143, -0.73194632386391134, 2.6823665902019624, 1.6144959312444731, -0.82771947713364136, -0.89954934208593884, 1.7820989494665005, -0.10942082761066647, 0.36944493873798345, 0.63760976789322732, -0.32491042246755891, 0.13001205556365847]
area 標準化後の平均:5.27355936697e-17
area 標準化後の標準偏差:1.0

In [20]:
# 問2
import pandas as pd
farm = pd.read_csv('farm.csv')
farm.head(5)

    sales  area
15      1   200
16    900   300
17   1000   356
18    450   155
19    400   250

In [21]:
farm.tail(5)

    sales  area
15      1   200
16    900   300
17   1000   356
18    450   155
19    400   250

In [22]:
farm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 2 columns):
sales    20 non-null int64
area     20 non-null int64
dtypes: int64(2)
memory usage: 480.0 bytes

In [23]:
farm.describe()

             sales        area
count    20.000000   20.000000
mean    581.950000  222.850000
std     772.010668  214.251764
min       0.000000   15.000000
25%     100.000000   57.500000
50%     400.000000  162.500000
75%     675.000000  314.000000
max    3000.000000  783.000000

In [24]:
type(farm)

pandas.core.frame.DataFrame

In [25]:
type(farm['sales'])

pandas.core.series.Series

In [28]:
farm.skew()  # 歪度

sales    2.202648
area     1.344194
dtype: float64

In [29]:
farm.kurt()  # 尖度

sales    4.950923
area     1.241717
dtype: float64

In [33]:
# 問3
print("標準化した値:" + str((80 - 60) / 10))
print("偏差値:" + str(10*(80 - 60) / 10 + 50))

標準化した値:2.0
偏差値:70.0